*{
	margin:0;
	padding:0;
}

html,body{
	color:#FFFFFF;
	background:#000000;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
}


div{
	border:2px solid #FFFFFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

table{
	border-spacing:0px;
}

td{
	border:2px solid #FFFFFF;
}

option,select{
	background:#000000;
}

button{
	color:#FFFFFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: #000000;
	background: -moz-linear-gradient(center top, #000000 0%,#606060 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000),color-stop(1, #606060));
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060')";
} 

.active, button:hover{
	color:#FFFFFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: #000000;
	background: -moz-linear-gradient(center top, #606060 0%,#3399FF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #606060),color-stop(1, #3399FF));
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#606060', endColorstr='#3399FF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#606060', endColorstr='#3399FF')";
}

.r{
	border-left:0;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	border-bottom:2px solid #FFFFFF;
}

.l{
	border-right:0;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	border-bottom:2px solid #FFFFFF;
}

.m{
 	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	border-bottom:2px solid transparent;
}

.fr{
 	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	border-bottom:2px solid #FFFFFF;
}

.fl{
	border-right:0;
 	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	border-bottom:2px solid #FFFFFF;
}

.fr,#ftd,#sctd{
	border-left:0;
	border-right:0;
}

.resultimg, .resultimgsm{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background: #606060;
	background: -moz-linear-gradient(center top, #000000 0%,#606060 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000),color-stop(1, #606060));
	margin:10px;
	margin-bottom:0px;
	margin-right:0px;
	float:left;
}

.resultimg{
	height:185px;
	width:125px;
}

.resultimgsm{
	height:90px;
	width:160px;
}

.resultimg table, .resultimgsm table{
	table-layout:fixed;
	border-spacing:2px;
	margin:0;
	width:100%;
}

.tooltip,.tooltipbig  {
	display:none;
	font-size:12px;
	color:white;
	border:0;
}

.tooltip {
	background:transparent url(http://github.com/immabear/GetInfo/raw/master/black_arrow.png);
	height:119px;
	width:210px;
}

.tooltip table {
	height:89px;
	width:194px;
	margin:10px 0px 0px 10px;
	font-size:12px;
	color:white;
}

.tooltip table td, .tooltipbig table td {
	border:0;
}

.tooltipbig {
	background:transparent url(http://github.com/immabear/GetInfo/raw/master/black_arrow_big.png);
	height:210px;
	width:370px;
}

.tooltipbig table {
	height:155px;
	width:330px;
	margin:20px 0px 0px 20px;
	font-size:11px;
	color:white;
}

.bt {
	width:60px;
}

.btm {
	width:70px;
}

.btb {
	width:120px;
}

.comoverlap {
	border:0;
	font-size:11px;
	color:white;
	text-shadow: 2px 2px 2px #222222;
	background-color: transparent;
	background-color: rgba(34, 34, 34, .5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000050,endColorstr=#99000050);
	overflow:hidden;
	text-overflow:ellipsis;
 	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#bd{
	background:#606060;
	background: -moz-linear-gradient(center top, #000000 0%,#606060 25%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000),color-stop(.25, #606060));
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060')";
	width:800px;
	height:600px;
	color:#FFFFFF;
	position:absolute;
	z-index:10;
	left:50%;
	top:50%;
	margin-left:-402px;
	margin-top:-302px;
}

#mtb{
	width:804px;
	height:30px;
	margin:-2px;
	margin-bottom:0;
}

#htd,#mtd,#sbd,#std{
	width:80px;
}

#h{
	width:776px;
	height:546px;
	color:#FFFFFF;
	margin-left:10px;
	margin-top:10px;
}

#htb,#stb{
	width:780px;
	height:30px;
	margin:-2px;
	margin-bottom:0;
}

#ttd,#sntd,#dtd{
	width:130px;
}

#ftd{
	border:0;
	border-bottom:2px solid #FFFFFF;
}

#hb,#sb{
	overflow:auto;
	width:752px;
	height:492px;
	color:#FFFFFF;
	margin-left:10px;
	margin-top:10px;
	background: #000000;
	background: -moz-linear-gradient(center top, #000000 0%,#606060 25%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000),color-stop(.25, #606060));
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060')";
}

#s{
	width:776px;
	height:546px;
	color:#FFFFFF;
	margin:10px;
}

#ss{
	color:#FFFFFF;
	background-color:transparent;
	border:0;
}

#sct{
	margin-left:10px;
	color:#FFFFFF;
	background: #000000;
	background: -moz-linear-gradient(center top, #000000 0%,#606060 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000),color-stop(1, #606060));
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060')";
	width:585px;
}

#sf,#bg,.sf{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:0;
}

#bg{
	background: #000000;
	background: -moz-linear-gradient(center top, #000000 0%,#606060 25%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000),color-stop(.25, #606060));
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#606060')";
}